{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<div class="container">


	{% if request.user.is_authenticated %}

	<h3 class="page_title">Active Tasks</h3>

	

	{% for iter in obj %}

		<div class="all_tasks">
			<h5 class="all_tasks_name">{{ iter.task_name }}</h5>
			<h5 class="all_tasks_client">{{ iter.client }}</h5>
			<h5 class="all_tasks_due">{{ iter.task_id }}</h5>
			<h5 class="all_tasks_status">{{ iter.status }}</h5>
			<h5 class="all_tasks_owner">{{ iter.owner }}</h5>
			<a href= "/task_join/{{ iter.task_id }}" />
				<button  type="button" class="btn btn-secondary">Join</button>
			</a>	
		</div> 

		

	{% endfor %}






	{% else %}

	<h3 class="pls_login">Please login</h3>

	{% endif %}

	
</div>
{% endblock content %}