{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<div class="container">

	{% if request.user.is_authenticated %}

	<h3 class="page_title">Active Tasks</h3>

	

	{% for key,iter in obj.items %}
		{% for i in iter %}

		<div class="indi_account">
			{% if request.user.is_staff %}
				<div class="staff_task_edit">Edit group task</div>
			{% endif %}
			<h4 class="details">Details</h4>
			<h5 class="name">Title: {{ i.task_name }}</h4>
			<h5 class="client">Client: {{ i.client }}</h5>

			<h5 class="due">Due: 12/10/2021</h5>
			<h5 class="owner">Owner: {{ i.owner }}</h5>

		
			<h5 class="task_status">Task Status: {{i.status}}</h5>
		
			{% for object,value in link.items %}
				{% if value.task_id.task_id == i.task_id %}
					<h5 class="indi_status">Individual sent: {{value.user_status}}</h5>
					<h5 class="time">{{value.time|date:"G:i:s"}}</h5>
	
				{% endif %}	

			{% endfor %}	




			<a class="unjoin btn btn-secondary" href="/delete_task_connection/{{ i.task_id }}">Unjoin</a>
			<a class="edit btn btn-secondary" href="user_edit_task/{{ i.task_id }}">Edit</a>
			
			
		</div> 

		{% endfor %}
	{% endfor %}






	{% else %}

	<h3 class="pls_login">Please login</h3>

	{% endif %}

	
</div>
{% endblock content %}