{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<div class="container">

	{% if request.user.is_authenticated %}

	<h3 class="page_title">Active Tasks</h3>

	<div class="indi_account">
		<h4 class="name">DDTS ABM Campaign</h4>
		<h5 class="created">Fujitsu</h5>
		<h5 class="calls">Due: 20/12/2021</h5>
		<h5 class="emails">Status: Blocked</h5>
		<h5 class="docs">Owner: Maisie</h5>
		<button type="button" class="btn btn-secondary">Add time</button>
	</div>

	<div class="indi_account">
		<h4 class="name">DDTS ABM Campaign</h4>
		<h5 class="created">Fujitsu</h5>
		<h5 class="calls">Due: 20/12/2021</h5>
		<h5 class="emails">Status: Blocked</h5>
		<h5 class="docs">Owner: Maisie</h5>
		<button type="button" class="btn btn-secondary">Add time</button>
	</div>

	<div class="indi_account">
		<h4 class="name">DDTS ABM Campaign</h4>
		<h5 class="created">Fujitsu</h5>
		<h5 class="calls">Due: 20/12/2021</h5>
		<h5 class="emails">Status: Blocked</h5>
		<h5 class="docs">Owner: Maisie</h5>
		<button type="button" class="btn btn-secondary">Add time</button>
	</div>



	{% else %}

	<h3 class="pls_login">Please login</h3>

	{% endif %}

	
</div>
{% endblock content %}