<style type="text/css">
	head{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	footer{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	body{
		background-color: #f2f2f2;
		font-family: "Segoe UI";
		font-weight: 380;
	}

	:root{
		--main-background-color: #f2f2f2;
		--dark-background-color: #a2a2a2;
		--secondary-text-color: #808080;
		--light-primary-text-color: #0080ff;
	}

	.account-image {
		cursor: pointer;
		margin: 15px;
	}

	.dropleft {
		cursor: pointer;
	}

	.dropleft .dropdown-toggle::before {
		content: none;
	 }

	 .dropdown-menu {
		 /*display: block;*/
		 margin-right: 0 !important;
	 }

	#account_menu:hover > .dropdown-menu {
		display: block;
	}

	.dropdown-menu:hover {
		display: block;
		
	}

	.pls_login {
		margin-top: 50px;
		text-align: center;
	}

	.page_title {
		margin-bottom: 15px;
	}

	.indi_account {
		background-color: gainsboro;
		border: solid 1px darkcyan;
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"name notes emails time_title time btn"
		"created calls docs time_title time btn" 
		;
		justify-items: start;
		align-items: center;
		border-radius: 10px;
		margin-bottom: 15px;
	}

	.name {
		grid-area: name;
	}

	.created {
		grid-area: created;
	}

	.emails {
		grid-area: emails;
	}

	.notes {
		grid-area: notes;
	}

	.calls {
		grid-area: calls;
	}

	.docs {
		grid-area: docs;
	}

	.persona {
		grid-area: persona;
		justify-self: center;
	}

	.time_title {
		grid-area: time_title;
		justify-self: center;
	}

	.time {
		grid-area: time;
		justify-self: center;
	}

	.indi_account button {
		grid-area: btn;
		justify-self: center;
	}



</style>