<style type="text/css">
	head{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	footer{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	body{
		background-color: #f2f2f2;
		font-family: "Segoe UI";
		font-weight: 380;
	}

	:root{
		--main-background-color: #f2f2f2;
		--dark-background-color: #a2a2a2;
		--secondary-text-color: #808080;
		--light-primary-text-color: #0080ff;
	}

	.account-image {
		cursor: pointer;
		margin: 15px;
	}

	.dropleft {
		cursor: pointer;
	}

	.dropleft .dropdown-toggle::before {
		content: none;
	 }

	 .dropdown-menu {
		 /*display: block;*/
		 margin-right: 0 !important;
	 }

	#account_menu:hover > .dropdown-menu {
		display: block;
	}

	.dropdown-menu:hover {
		display: block;
		
	}

	.pls_login {
		margin-top: 50px;
		text-align: center;
	}

	.page_title {
		margin-bottom: 15px;
	}

	.indi_account {
		position: relative;
		background-color: gainsboro;
		border: solid 1px darkcyan;
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"details details details details"
		"name name name name"
		"client due owner time"  
		"task_status task_status unjoin unjoin" 
		"indi_status indi_status edit edit"
		;
		justify-items: start;
		border-radius: 10px;
		margin-bottom: 15px;
	}

	.details {
		font-weight: bold;
		grid-area: details;
		align-items: center;
	}

	.name {
		grid-area: name;
	}

	.client {
		grid-area: client;
	}

	.due {
		grid-area: due;
	}

	.owner {
		grid-area: owner;
	}



	.task_status {
		grid-area: task_status;
		margin-left: 50px;
		align-self: center;
	}

	.indi_status {
		grid-area: indi_status;
		margin-left: 50px;
		align-self: center;
	}


	.time {
		grid-area: time;
		justify-self: center;
		align-self: center;
	}


	.edit {
		grid-area: edit;
		justify-self: center;
		height: 30px;
		width: 100px;
		line-height: 30px;
		padding: 0;
	}

	.unjoin {
		grid-area: unjoin;
		justify-self: center;
		height: 30px;
		width: 100px;
		line-height: 30px;
		padding: 0;
	}

	.unjoin:hover, .edit:hover {
		background-color: darkcyan;
	}


	/* view all tasks */

	.all_tasks {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas: 
		"client status name due lead btn"
		;
		background-color: gainsboro;
		border: solid 1px darkcyan;
		padding: 20px;
		justify-items: start;
		align-items: center;
		border-radius: 10px;
		margin-bottom: 15px;
	}

	.all_tasks_client {
		grid-area: client;
	}

	.all_task_name {
		grid-area: name;
	}

	.all_task_due {
		grid-area: due;
	}

	.all_task_status {
		grid-area: status;
	}

	.all_task_owner {
		grid-area: owner;
	}

	.all_tasks button {
		grid-area: btn;
		justify-self: center;
		align-self: center;
		height: 30px;
		width: 100px;
		line-height: 30px;
		padding: 0;
	}

	.all_tasks button:hover {
		background-color: darkcyan;
	}


	/*  New Task Form   */


	.new_task_form {
		background-color: lightgrey;
		border-radius: 10px;
		border: solid 1px darkcyan;
		padding: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;

	}

	.new_task_form textarea {
		height: 30px;
	}



	.new_task_form button {
		
		width: 50%;
		margin:  20px auto 0 auto;
	}

	.link {
		margin: 0 20px;
		color: inherit;
		text-decoration: none !important;
	}

	/*---------------------------*/

	.staff_task_edit {
			background-color: darkred;
			color: white;
			font-weight: 700;
			padding: 0 10px;
			border-radius: 10px;
			height: 30px;
			line-height: 30px;
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
	}

	.staff_task_edit:hover {
		background-color: rgb(100, 5, 5);
	}

</style>